input[type="number"]{
  width: 16%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-left: 25px;
  margin-top: 10px;
}

.start{
  width: 16%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-left: 10px;
  margin-top: 10px;
}

.end{
  width: 16%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-left: 20px;
  margin-top: 10px;
}

.advanced-select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-left: 55px;
  margin-top: 10px;
}

.property-label{
  padding-left: 350px;
  display: inline-block;
  font-weight: bold;
}

.btn-submit{
  background-color: #560164;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 850px;
  margin-top: 30px;
  cursor: pointer;
}

.btn-create{
  background-color: #560164;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 140px;
  margin-top: 30px;
  cursor: pointer;
}

table{
    border: 2px solid black;
    width: 85%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

th,
td {
    border: 2px solid grey;
    padding: 10px;
    text-align: center;
}

.detail-header{
    font-size: 35px;
    text-align: center;
    margin-top: 26px;
}

.property-label{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    padding-left: 700px;
}

.prop-line{
    font-size: 18px;
}

.thank-you{
    font-size: 50px;
    padding-left: 700px;
    padding-top: 200px;
    color: #560164;
}

.prop_div{
    display: inline;
}

.prop-div{
    display: flex;
}

.form-container{
    position: relative;
    margin-left: 100px;
}

.property-checks{
  margin-left: 25px;
  margin-top: 10px;
}

.form-container{
    margin: auto;
}